body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    background: url('../static/autumn.jpg') no-repeat;
    background-size: cover;
    color: white;
    justify-content: center;
}
input {
    /* Clear border so the error border doesn't cause alignment issues */
    border: 2px solid rgba(0, 0, 0, 0);
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    color: white;
}
input.has-error {
    border: 2px solid #9c3737;
}
h2, h3 {
    margin: 0;
}
pre {
    max-width: 300px;
    word-wrap: break-word;
    white-space: pre-wrap;

}
.centered {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.btn {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
}
.main-logo {
    height: 175px;
    width: 175px;
}

